body{
    margin:0;
    background-color: #12171C;
}
h2, h3 {
    margin:0;
    color: #ffce1f;
    font-family: sans-serif;
    font-size: 20px;
}
h4 {
    margin:0;
    color: #f5f5f5;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.8em;
}
time {
    margin:0;
    color: #3f434a;
    font-family: sans-serif;
    font-size: 12px;
}
p {
    margin:0;
    color: #717478;
    font-family: sans-serif;
    font-size: 14px;
}
.wrapper{
    width: 1239px;
    margin: auto;
}
.wrapper-left{
    float: left;
}
.wrapper-right{
    float: right;
}
.latest-news-feature{
    display:grid;
    grid-template-columns: repeat(6, 111px);
    grid-template-rows: repeat(10, 74px);
    grid-column-gap:5px;
    background-color: #181d25;
    width: 666px;
    padding: 40px 40px;
}
.feature{
    grid-column:  span 3;
    grid-row: span 4;
}
.news-item{
    grid-column:  span 2;
    grid-row: span 3;
}
.game-updates-feature{
    display:grid;
    grid-template-columns: repeat(6, 111px);
    grid-template-rows: repeat(2, 74px);
    background-color: #181d25;
    width: 666px;
    padding: 40px 40px;
    margin-top: 5px;
}
.weekly-activities-feature{
    display:grid;
    grid-template-columns: repeat(4, 102px);
    grid-template-rows: repeat(2, 74px);
    background-color: #14191e;
    width: 408px;
    padding: 40px 40px;
}
.releases-feature{
    display:grid;
    grid-template-columns: 408px;
    grid-template-rows: repeat(3, 274px);
    background-color: #14191e;
    width: 408px;
    padding: 40px 40px;
    margin-top: 5px;
}
h2{
    text-transform: uppercase;
    font-family: sans-serif;
}
Add Comment